mixin BlogItem(title, body, labels, pre, next, created_at, user, id)
  div(class='blog-content' data-id=`${id}`)
    div.blog-title=title
    div.blog-meta
      i(class='cottom-iconfont cottom-icon-calendar2')=created_at
      span.blog-label-container
            each label in labels
              a(href=`/label/${label.name}` class='blog-item__label-item cottom-iconfont cottom-icon-label_fill')=label.name
    div.blog-body.markdown-body!=body
    div.pre_next
  div.blog-comment-container
    h3 Comments
    div.blog-comment
